<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sidebarModal">
    <span class="fas fa-bars"></span>
</button>

<div class="modal left fade rounded" id="sidebarModal" tabindex="-1" aria-labelledby="sidebarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sidebarModalLabel">Welcome!</h5>
                <button class="btn btn-primary modalClose rounded" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <p>
                    Thanks for visiting
                    my portfolio site.
                    Please take a look
                    and contact me
                    for any inquiries.
                </p>
                <p>
                    A little about me:
                    <ul>
                        <li>
                            Aspiring Software Engineer
                        </li>
                        <li>
                            Self-Taught C# & Blazor; Bootcamp for 6 months for Javascript and React
                        </li>
                        <li>
                            Solid background in IT with 4 years as a Systems Engineer
                        </li>
                        <li>
                            Willing to work long hours to achieve company goals
                        </li>
                    </ul>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
}