/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-dd96rp7ncf] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.navbar[b-dd96rp7ncf] {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 100%;
    left: 44%;
    /* margin: -100px 0 0 -150px; */
}

.main[b-dd96rp7ncf] {
    flex: 1;
}

.sidebar[b-dd96rp7ncf] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-dd96rp7ncf] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-dd96rp7ncf]  a, .top-row .btn-link[b-dd96rp7ncf] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-dd96rp7ncf] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-dd96rp7ncf] {
        display: none;
    }

    .top-row.auth[b-dd96rp7ncf] {
        justify-content: space-between;
    }

    .top-row a[b-dd96rp7ncf], .top-row .btn-link[b-dd96rp7ncf] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-dd96rp7ncf] {
        flex-direction: row;
    }

    .sidebar[b-dd96rp7ncf] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-dd96rp7ncf] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-dd96rp7ncf] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/MainPage.razor.rz.scp.css */
.centered[b-5da94ig726] {
    width: 100%;
    height: 100%;
    margin-top: 150px;
}

.img-profile[b-5da94ig726] {
    width: 115px;
    height: 125px;
    margin-top: 35px;
}

.navbar-toggler[b-5da94ig726] {
    background-color: rgba(248, 37, 255, 0.521);
}

.nav-item[b-5da94ig726] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

span[b-5da94ig726] {
    color: rgb(255, 0, 229);
}

a[b-5da94ig726] {
    color: rgb(255, 0, 229);
    font-weight: lighter;
}

ul[b-5da94ig726] {
    list-style-type: none;
}

@media (min-width: 641px) {
    .navbar-toggler[b-5da94ig726] {
        display: none;
    }

    .collapse[b-5da94ig726] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-xt9b8ov0ji] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-xt9b8ov0ji] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-xt9b8ov0ji] {
    font-size: 1.1rem;
}

.oi[b-xt9b8ov0ji] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-xt9b8ov0ji] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-xt9b8ov0ji] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-xt9b8ov0ji] {
        padding-bottom: 1rem;
    }

    .nav-item[b-xt9b8ov0ji]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-xt9b8ov0ji]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-xt9b8ov0ji]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-xt9b8ov0ji] {
        display: none;
    }

    .collapse[b-xt9b8ov0ji] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/Sidebar.razor.rz.scp.css */
.modal.left .modal-dialog[b-r9nwpja0ud] {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content[b-r9nwpja0ud] {
    height: 100%;
    overflow-y: auto;
    background-color: rgb(211, 208, 245);
}

.modal.left .modal-body[b-r9nwpja0ud] {
    padding: 15px 15px 80px;
}

.modal.left.fade .modal-dialog[b-r9nwpja0ud] {
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog[b-r9nwpja0ud] {
    left: 0;
}

.btn-primary[b-r9nwpja0ud] {
    background-color: rgb(6, 4, 25);
    border: none;
}

    .btn-primary:hover[b-r9nwpja0ud] {
        background-color: rgb(6, 4, 25);
        border: none;
    }

    .btn-primary:focus[b-r9nwpja0ud] {
        background-color: black;
        border: none;
        box-shadow: none;
    }
