.modal.left .modal-dialog[b-r9nwpja0ud] {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content[b-r9nwpja0ud] {
    height: 100%;
    overflow-y: auto;
    background-color: rgb(211, 208, 245);
}

.modal.left .modal-body[b-r9nwpja0ud] {
    padding: 15px 15px 80px;
}

.modal.left.fade .modal-dialog[b-r9nwpja0ud] {
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog[b-r9nwpja0ud] {
    left: 0;
}

.btn-primary[b-r9nwpja0ud] {
    background-color: rgb(6, 4, 25);
    border: none;
}

    .btn-primary:hover[b-r9nwpja0ud] {
        background-color: rgb(6, 4, 25);
        border: none;
    }

    .btn-primary:focus[b-r9nwpja0ud] {
        background-color: black;
        border: none;
        box-shadow: none;
    }