.centered[b-5da94ig726] {
    width: 100%;
    height: 100%;
    margin-top: 150px;
}

.img-profile[b-5da94ig726] {
    width: 115px;
    height: 125px;
    margin-top: 35px;
}

.navbar-toggler[b-5da94ig726] {
    background-color: rgba(248, 37, 255, 0.521);
}

.nav-item[b-5da94ig726] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

span[b-5da94ig726] {
    color: rgb(255, 0, 229);
}

a[b-5da94ig726] {
    color: rgb(255, 0, 229);
    font-weight: lighter;
}

ul[b-5da94ig726] {
    list-style-type: none;
}

@media (min-width: 641px) {
    .navbar-toggler[b-5da94ig726] {
        display: none;
    }

    .collapse[b-5da94ig726] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
